<!-- <header class="site-header"> -->

  <!-- <div class="wrapper"> -->
    <nav class="navbar navbar-default navbar-fixed-top main-navbar site-nav">
      <div class="container">
        <div class="navbar-header">
          <a href="#"></a>
          <a href="#" class="menu-icon">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
              <span class="sr-only">Toggle navigation</span>
              <span class="menu">Menu</span>
            </button>
          </a>
          <a class="site-title" href="{{ site.baseurl }}/">{{ site.title }}</a>
        </div>

        <div class="collapse navbar-collapse trigger" id="navbar">
          <ul class="nav navbar-nav">
            <li><a href="{{ site.baseurl }}/about" class="page-link">About</a></li>
            <li><a href="{{ site.baseurl }}/portfolio" class="page-link">Portfolio</a></li>
            <li><a href="{{ site.baseurl }}/blog" class="page-link">Blog</a></li>
          </ul>
        </div>
      </div>
    </nav>
  <!-- </div> -->

<!-- </header> -->
