<header>

  <nav class="navbar navbar-default navbar-fixed-top main-navbar site-header"> <!-- Creates the navbar -->
    <div class="container">
      <div class="navbar-header"> <!-- Creates the navbar header -->
        <button type="button" class="navbar-toggle collapsed navbar-menu-button" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
          <span class="sr-only">Toggle navigation</span> <!-- Used for screen readers for accessibility -->
          <span class="navbar-menu">Menu</span>
        </button> <!-- Hamburger button for smaller devices -->
        <a class="site-title navbar-brand" href="{{ site.baseurl }}/">{{ site.title }}</a> <!-- Your website brand name -->
      </div>

      <div id="navbar" class="collapse navbar-collapse"> <!-- Links to include in navbar -->
        <ul class="nav navbar-nav navbar-right">  <!-- Unordered list for links on navbar -->
          <li><a {% if page.url contains 'about' %}class="current-page"{% endif %} href="{{site.baseurl}}/about">About</a></li>
          <li><a {% if page.url contains 'portfolio' %}class="current-page"{% endif %} href="{{site.baseurl}}/portfolio">Portfolio</a></li>
          <li><a {% if page.url contains 'resume' %}class="current-page"{% endif %} href="{{site.baseurl}}/resume">Resume</a></li>
          <li><a class="page-link" href="http://tolomaps.tumblr.com/">Blog</a></li>
        </ul>
      </div> <!-- end .navbar-collapse -->
    </div> <!-- end .container -->
  </nav> <!-- end navigation bar -->

  <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
  <script type="text/javascript" src="{{ site.baseurl }}/assets/javascripts/bootstrap.js"></script>


</header>
