.jumbotron {
  margin-bottom: 0;
  .container {
    color: $grey-color-dark;
  }
}

.jumbotron-heading {
  font-weight: $bold-font-weight;
  margin-top: 0;
}

@media screen and (min-width: 992px) {
  .jumbotron h1 {
    font-size: 72px;
  }
}

@media screen and (max-width: 991px) {
  .jumbotron h1 {
    font-size: 48px;
  }
}

.jumbotron-paragraph {
  font-size: $base-font-size;
}
