.jumbotron {
  background-image: url("../../assets/img/background_light.png");
  background-size: cover;
  // min-height: 1000px;
  margin-bottom: 0;
  .container {
    color: $grey-color-dark;
  }
}

.jumbotron-heading {
  font-weight: $bold-font-weight;
  margin-top: 0;
}

.jumbotron-paragraph {
  font-size: $base-font-size;
}
