.jumbotron {
  background-image: url("../../assets/img/background_purple.png");
  background-size: cover;
  min-height: 500px;
  .container {
    color: $white;
  }
}

.jumbotron-heading {
  font-weight: $bold-font-weight;
}

.jumbotron-paragraph {
  font-size: $base-font-size;
}
