.portfolio-link {
  margin-top: 0;
  text-align: center;
}

.portfolio-thumbnail {
  margin-top: 10px;
}

.thumbnail {
  margin-bottom: 0;
}
.portfolio-thumbnail:hover {
  border-color: $brand-purple;
  border-width: 3px;
}
