//Individual portfolio page styles
.portfolio-page {
  .portfolio-title {
    
  }
  p {
    font-size: $large-font-size;
  }
  //Image caption
  .portfolio-caption {
    text-align: center;
    font-size: $base-font-size;
    font-style: italic;
    color: $grey-color;
  }
  .portfolio-asset {
    text-align: center;
    margin-bottom: 0;
  }
}

//Overview portfolio page
.portfolio-link {
  margin-top: 0;
  text-align: center;
}
