.resume-section {
  margin-bottom: 3rem;
  position: relative;
  display: block;
}

.resume-job, .resume-education, .resume-other {
  margin-bottom: 3rem;
  margin-left: 0;
}

.job-logo-container, .job-description-container, .education-logo-container, .education-description-container, .other-logo-container, .other-description-container {
  padding-left: 0;
}

.job-logo, .education-logo, .other-logo {
  max-width: 200px;
}

.other-link:hover {
  background-color: $background-color;
}

.job-header, .other-header {
  margin-top: 0;
}

.resume-skills {
  border: 1px;
  border-color: $white;
}
.resume-skills-section {
  padding-left: 0;
  h3 {
    margin-top: 0;
  }
}

.job-header, .education-header, .other-header {
  margin-bottom: 0;
}

.job-time-location, .education-date, .other-date {
  margin-top: 0;
}

.resume-hr {
  border: 1px solid $white;
}
