.resume-job {
  margin-bottom: 5rem;
  margin-left: 0;
}

.job-logo-container {
  padding-left: 0;
}

.job-logo {
  max-width: 200px;
}

.job-header {
  margin-top: 0;
}

.resume-skills {
  border: 1px;
  border-color: $white;
}
.resume-skills-section {
  padding-left: 0;
}

.resume-hr {
  color: red;
}
